* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  margin: 0;
  background: #f5f7fa;
}


/* Profile Card */
.profile-container {
  width: 536px;
  background: #ffffff;
  padding: 30px;
  border-radius: 16px;
  box-shadow: 0 8px 25px rgba(0, 0, 0, 0.08);
  margin: auto;
}

h2 {
  text-align: center;
  margin-bottom: 20px;
  color: #333;
}

/* Tabs */
.tabs {
  display: flex;
  margin-bottom: 20px;
}

.tab {
  flex: 1;
  padding: 12px;
  border: none;
  cursor: pointer;
  background: #e3f2fd;
  color: #1976d2;
  font-weight: 600;
  border-radius: 10px 10px 0 0;
}

.tab.active {
  background: #1976d2;
  color: white;
}

/* Card Forms */
.card {
  background: #fafafa;
  padding: 20px;
  border-radius: 0 0 12px 12px;
  border: 1px solid #eee;
}

.hidden {
  display: none;
}

/* Inputs */
input, select {
  width: 100%;
  padding: 12px 14px;
  margin-bottom: 15px;
  border-radius: 10px;
  border: 1px solid #ddd;
  outline: none;
  font-size: 14px;
}

.blue-btn {
  width: 100%;
  padding: 12px;
  border: none;
  border-radius: 10px;
  background: #1976d2;
  color: white;
  font-size: 15px;
  font-weight: 600;
  cursor: pointer;
}

.layout {
  display: flex;
  min-height: 100vh;
}

/* ===== SIDEBAR ===== */
.sidebar {
  width: 240px;
  background: #f5f7f6;
  padding: 20px;
  border-right: 1px solid #e0e0e0;
}

.sidebar nav a {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 12px 14px;
  margin: 6px 0;
  border-radius: 8px;
  text-decoration: none;
  color: #333;
  font-weight: 500;
  transition: 0.3s;
}

/* Hover effect */
.sidebar nav a:hover {
  background: #e3f2fd;
  color: #1976d2;
}

/* Active page only (highlight on click/page) */
.sidebar nav a.active {
  background: #e3f2fd;
  color: #1976d2;
  font-weight: 600;
}